@model ProyectoIntegrador.Models.Producto

@{
    ViewData["Title"] = "AnyadirCarrito";
    Layout = "~/Views/Shared/_Layauot.cshtml";
}

<h1>AñadirCarrito</h1>

<div>
    <h4>Producto</h4>
    <hr/>
    <dl class="row">
        <dd class="col-sm-10">
            <div>
                @{ 
                    var ImagenDefault = "imangen-no-disponible.jpg";
                    if(Model.Imagen !=null)
                    {
                        ImagenDefault = Model.Imagen;
                    }

                }
                <img src="~/img/ImagenDefault.jpg" style="width:250px; height:250px;" alt="No funciona" asp-append-version="true"/>
            </div>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.Texto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:c}", Model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.Categoria.Descripcion)
        </dd>

        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-10">
            <br/>
            <form asp-action="AnyadirCarrito">
                <div class="form-group"hidden>
                    @Html.DisplayFor(model=>model.Id)
                </div>
                <div class="form-group">
                    <input type="submit" value="Añadir al carrito" class="btn btn-primary" asp-action="AnyadirCarrito"/>
                </div>
            </form>
        </dd>
    </dl>
</div>

<br/>

<div>
    <a asp-action="Index">Back to List</a>
</div>