@model IEnumerable<ProyectoIntegrador.Models.Producto>

@{
    ViewData["Title"] = "Escaparate";
}

<head>
    <link rel="stylesheet" href="~/css/Escaparate.css" />
</head>
<div class="row">
    <h1>Escaparate</h1>
</div>

<div class="row">
    <div class="col-3">
        <ul>
            <li>Comic</li>
            <li>Fantasia</li>
            <li>Historia</li>
            <li>Terror</li>
        </ul>
    </div>

    <div class="col-9">
        <div class="row">
            @foreach (var item in Model)
             {
                <div class="column">
                    <div class="card">
                        @{
                            string Imagen = "ImagenDefault.jpg";
                            if (item.Imagen != null)
                            {
                                Imagen = item.Imagen;
                            }
                        }
                        <a href='#' title="@Imagen">
                            <img class="Foto card-img-top"  src="~/img/@Imagen" alt="@Imagen" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Descripcion)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Precio) €</p>
                            <p class="card-text">Unidades disponibles: @Html.DisplayFor(modelItem => item.Stock)</p>
                            <div class="card-body">
                                <button class="addCarrito" onclick="AddCarrito();"><i class='bi-cart-plus'></i> AGREGAR AL CARRITO</button>
                            </div>
                        </div>
                    </div>
                </div>
             }
        </div>
    </div>
</div>
